<section class="subscribe-form">
    <h3 class="subscribe-form-title">Abonnez-vous !</h3>
    <p class="subscribe-form-description">Recevez tous les articles immédiatement après leur parution.</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="monemail@gmail.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">S'abonner</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>C'est fait !</strong> Vérifiez votre boite aux lettres et cliquez sur le lien pour confirmer votre abonnement.
        </div>
        <div class="message-error">
            Merci d'entrer un email valide !
        </div>
    </form>
</section>